XSD/errors.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2010 (http://www.altova.com)-->
<!--Table Errors-->
<!ELEMENT ErrorTable (Error)+>
<!ELEMENT Error (ErrorCode, ErrorString, Component, TestID, Img_File)>
<!ATTLIST Error
	Board (SIMP1 | SIMP2 | STIMP) #REQUIRED
>
<!ELEMENT ErrorCode (#PCDATA)>
<!ELEMENT ErrorString (#PCDATA)>
<!ELEMENT Component (#PCDATA)>
<!ELEMENT TestID (#PCDATA)>
<!ELEMENT Img_File (#PCDATA)>
